#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
CI_ENVIRONMENT = production

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
app.baseURL = 'https://domain-anda.com/'
app.forceGlobalSecureRequests = true
app.indexPage = ''

#--------------------------------------------------------------------
# DATABASE  (diisi otomatis oleh Coolify dari service MariaDB)
#--------------------------------------------------------------------
database.default.hostname = mariadb
database.default.database = db_letter
database.default.username = letter_user
database.default.password = ganti-password-kuat
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
database.default.charset = utf8mb4
database.default.DBCollat = utf8mb4_general_ci

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------
session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
session.savePath = WRITEPATH . 'session'

#--------------------------------------------------------------------
# SECURITY
#--------------------------------------------------------------------
security.csrfProtection = 'cookie'
security.tokenRandomize = false
